body {
  text-align: center;
}

.r-grid-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 10px;
  padding: 15px 10px;
  place-items: start center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  text-align: right;
}

td {
  text-align: left;
  padding: 5px;
}

.other-results {
  margin: 10px auto;
  width: max-content;
}

.o-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  padding: 15px 10px;
  place-items: start center;
}

.card-container {
  width: 260px;
  height: 280px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@media (min-width: 360px) {
  .card-container {
    width: 340px;
    height: 360px;
  }
}

@media (min-width: 575px) {
  .card-container {
    width: 340px;
    height: 380px;
  }
}

@media (min-width: 720px) {
  .o-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1060px) {
  .o-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
